<h1>Welcome</h1>
<% if current_user %>
  <div id="urls">
    <ul>
    <% @user_urls.each do |url_obj|%>
      <li>
        <span>ShortURL: <%= link_to "http://localhost:3000/#{url_obj.short_url}", url_path(url_obj)%></span><br>
        <span>For: <%=url_obj.long_url[7..25]%></span>
        <%= link_to "Delete", url_path(url_obj), method: :delete %>
      </li>
    <% end %>
    </ul>
  </div>

  <%= form_for @url do |f|%>
    <%= f.label :long_url%>
    <%= f.text_field :long_url , autofocus: true%>
    <%= f.submit "Generate Short Url" %>

  <% end %>

<% end %>
